node_modules
grassroots-backend/dist
grassroots-backend/src/metadata.ts
grassroots-frontend/dist
grassroots-frontend/vite.config.js
.env.development.local
.env.test.local
.env.local
.pnpm-store


# CI
eslint_report.json

# IDE
.idea

# Transient docker files
docker/data

# Version Control Extensions
.git-branches.toml
