**/node_modules
**/dist
**/dist-metadata
**/dist-build
grassroots-backend/src/metadata.ts
grassroots-backend/src/FormattedMetadata.gen.ts
grassroots-backend/src/util/LastDependencyUpdateTime.ts
openapi-paths/src/OpenAPI.gen.ts
grassroots-backend/openAPI.json
docker/ngrok/traffic-policy.yml
logs
storage

.env.development.local
.env.test.local
.env.local
.pnpm-store
.jj
**/*.tsbuildinfo
grassroots-frontend/.tanstack

# CI
eslint_report.json

# IDE
.idea

# Transient docker files
docker/data

# Version Control Extensions
.git-branches.toml

**/.turbo
