{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "legacyDecorator": true,
      "decoratorMetadata": true
    }
  },
  "sourceMaps": true,
  "module": { "type": "nodenext" }
}
