http://grassroots.org {
    log {
        level DEBUG
    }
    handle_path /api/* {
        reverse_proxy grassroots_dev:3000
    }
    handle_path /* {
        reverse_proxy grassroots_dev:5173
    }
}
