https://grassroots.org {
  tls internal
    log {
        level DEBUG
    }
    handle_path /api/* {
        reverse_proxy grassroots_dev:3000
    }
    handle_path /* {
        reverse_proxy grassroots_dev:5173
    }
}

http://grassroots.org {
    redir https://grassroots.org{uri} permanent
}