on_http_request:
  - expressions:
      - "!(req.url.path.contains('get-voicemail')) && !(req.url.path.contains('client-joining-conference'))"
    actions:
      - type: verify-webhook
        config:
          provider: twilio
          secret: YOUR_AUTH_TOKEN
