name: grassroots

services:
  db:
    image: postgres
    container_name: db
    # set shared memory limit
    shm_size: 128mb
    env_file:
      # Last file wins.
      - ../.env.development
      - ../.env.development.local

  test_db:
    image: postgres
    container_name: test_db
    shm_size: 128mb
    env_file:
      - ../.env.test
