name: grassroots

services:
  db:
    image: postgres
    container_name: db
    # set shared memory limit
    shm_size: 128mb
    env_file:
      # Last file wins.
      - ../.env.development
      - ../.env.development.local

  test_db:
    image: postgres
    container_name: test_db
    shm_size: 128mb
    env_file:
      - ../.env.test

  caddy:
    container_name: caddy
    volumes:
      - ./data/caddy:/data
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile
    image: caddy
    ports:
      - "80:80"
      - "443:443"
      # For ngrok.
      - "3003:3003"

  grassroots_dev:
    container_name: grassroots_dev
    build: ".."
    volumes:
      - ../:/app
      - /app/node_modules
      - ../logs:/app/logs
      - ../storage:/app/storage

    ports:
      - "5173:5173"
      - "3000:3000"

  ngrok:
    container_name: ngrok
    network_mode: host
    stdin_open: true
    tty: true
    env_file:
      # Last file wins.
      - ../.env.development
      - ../.env.development.local
    image: ngrok/ngrok:latest
    volumes:
      - ./ngrok/traffic-policy.yml:/etc/traffic-policy.yml
    command: http localhost:3003 --traffic-policy-file /etc/traffic-policy.yml
    profiles:
      - ngrok
