name: grassroots

services:
  test_db:
    image: postgres
    container_name: test_db
    shm_size: 128mb
    ports:
      # Must match .env.test.
      - 5432:5432
    env_file:
      # Last file wins.
      - ../config/.env.test
      - ../config/.env.test.ci
